{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
 <object width="100%" height="100%" data="https://cdn.shopify.com/s/files/1/2072/7821/files/Politicas_Her_Chou._Wellness.Shopify.pdf?11290077987384907676" class="object-pdf"></object> 
{% endblock %}